body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #222; /* Dark background for the game */
}

#backgammonCanvas {
    background-color: #041f23; /* Black background for the canvas */
    border: 20px solid #020215; /* White border around the canvas */
}